<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h2>Hi <%= name %></h2>
<form action="/check-balance" method="POST">
    <button type="submit">Go to Wallet</button>
</form>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>